@import url('https://fonts.googleapis.com/css?family=Karla');

*{
  margin: 0px;
  padding: 0px;
  text_decoration: none;
  box-sizing: border-box;
  font-family: 'Karla';
  list-style: none;
}

body, html{
  font-size: 14px;
}

div{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #ffaa33
}

h1{
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
}

h3{
  font-size: 3rem;
  color: #555;
  text-transform: uppercase;
}

